body {
    margin:0;
    padding:0;
    font-family: verdana;
}
body:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background-image: url(house.jpg);
    background-size: cover;
    z-index: -1;
    -webkit-opacity :0.6;
}
/****************************************************/
/*DEBUT HEADER1-2*/
/****************************************************/
header
{
	background-color: rgba(0, 0, 0, 0.5);
	height: 7.3vw;
}

#header2{
	display: flex;
	justify-content: space-between;
}

#conteneur{
	display: flex;
	height: 7.3vw;
}

.logo{
	height: 7.2vw;
	width: 8vw;
}

.nom h1{
	font-size: 2.5vw;
	font-weight: bold;
	width: 8vw;
	padding-top: 0.2vw;
	padding-left: 0.5vw;
	margin:0;
	margin-top: 1vw;
	color: #85C1E9; 
}

.nom p
{
	font-size: 1.2vw;
	width: 100%;
	padding-left: 0.5vw;
	margin-top: 0.5vw;
	color: #ccc;
}

nav ul{
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li{
	margin-right: 5vw;
	margin-top: 2.3vw;
}

nav a{
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.5vw;
}

.Accueil{
	border:0px;
}

nav a:hover{
	color: #85C1E9;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1vw;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1024px){

	.nom{
	
		font-size: 4vw;
		width: 40vw;
	}

	.nom p{
		display: none;
	}

	nav a{
		font-size: 1.4vw;
	}
	
	.head2 li{
		
	}
}

/****************************************************/
/*FIN HEADER2*/
/****************************************************/


/************************************************/
/*ACCUEIL*/
/************************************************/
.box
{
	padding-top: 5%;
	display: flex;
	justify-content: space-between;
}

#box_connexion
{
	border: none;
	width: 35%;
	padding: 2.5%;
	margin: auto;
	margin-top:1vw;
	border-radius: 10px;
	background-color:rgba(208, 211, 212, 0.8);
}

#box_connexion h1
{
	text-align: center;
	font-size: 30px;
	color: #2874A6;
}

.formulaire_connexion
{
	color: #383176;
}

.formulaire_connexion form
{
	padding-left: 5%;
	width: 100%;
}

#label
{
	width: 10vw;
}

.inscription
{
	text-align: center;
	color: #FF3A40;
}


input[type=text]
{
	width: 20vw;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px;
}

input[type=tel]
{
	width: 20vw;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px;
}

input[type=email]{
	width: 20vw;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px;
}

input[type=password]{
	width: 20vw;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px;
}

input[type=date]{
	width: 20vw;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
}
/************************************************/
/*FIN ACCUEIL*/
/************************************************/






/************************************************/
/*DESCRIPTION QUI SOMMES NOUS*/
/************************************************/
h1{
	font-size: 40px;
	font-weight: lighter;
	color: black;
	line-height: 30pt;
}

.banniere_description
{
	text-align: center;
	color: #383176;
	font-size: 30px;
	padding-top: 200px;
}

.banniere_description a
{
	text-decoration: none;
	color: #383176;
	border-color: #383176;
}

.banniere_description a:hover
{
	color: #FF3A40;
	background-color: white;
	border-color: white;
}

.acheter{
	margin: auto;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 20px;
}

#contenu{
	display: flex;
	flex-direction: column;
	background-color: #241C6C;
	margin-top: 10%;
}

#sous-contenu{
	display: flex;
	justify-content: space-around;
	padding-top: 5%;
}

#sous-contenu:nth-child(2){
	padding-bottom: 5%;
}

.logo2{
	height: 20vw;
	width: 20vw;
}

.photo1{
	border-radius: 20px;
	height: 20vw;
	width: 20vw;
}

.cyan{
	color: #76D7C4;
}

.description{
	width: 35%;
	padding-left: 7%;
	padding-right: 7%; 
	padding-bottom: 5%;
	font-size: 16px;
	color: white;
	text-align: justify;
	line-height: 20pt;
	font-weight: lighter;
}


.description:nth-child(2){
	align-self: flex-end;
}

.paysage_urbain
{
	background: url(paysage_urbain.jpg) no-repeat;
	height: 300px;
	position: relative;
	margin-top: -5%;
}

.paysage_description{
	color: white;
	font-size: 25px;
	text-align: center;
	padding-top: 70px;
	font-style: italic;
	font-family: courier;
}

#contenu2{
	display: flex;
	justify-content: space-around;
	background-color: #1B4F72;
	align-items: center;
	padding: 5%;
}

.description2{
	width: 30%;
	font-size: 18px;
	color: white;
	text-align: justify;
	line-height: 20pt;
}

.photo2{
	border-radius: 20px;
	height: 400px;
	width: 300px;
}

@media screen and (max-width: 1024px)
{
	.description
	{
		width: auto;
		margin: auto;
		text-align: center;
	}

	.logo2
	{
		display: none;
	}

	.photo1
	{
		display: none;
	}

	.paysage_urbain
	{
		display: none;
	}

	.photo2
	{
		display: none;
	}

	.description2
	{
		width: auto;
		margin: auto;
		text-align: center;
	}


}

/************************************************/
/*FIN DESCRIPTION QUI SOMMES NOUS*/
/************************************************/


/************************************************/
/*DESCRIPTION CEMAC*/
/************************************************/

#contenu3{
	display: flex;
	justify-content: center;
	margin-bottom: 10%;
}

.description3{
	width: 75%;
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 50px;
}

.description3 h1
{
	color: #FF5151;
}

.equiper{
	color: white;
	background-color: #2874A6;
	border: none;
	font-size: 20px;
	border-radius: 5px;
	padding: 20px;
	text-decoration: none;
	transition-duration: 0.4s;
	cursor: pointer;
}

.equiper:hover
{
	background-color: white;
	color: #FF3A40; 				/*Saumon*/
}

/*Description 2*/
#contenu4{
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
	background-color: #383176;
	margin-bottom: 10%;
}

.titre{
	color: #FF3A40;
	text-align: center;
	cursor: pointer;
}

.description4{
	color: white;
	width: 20%;
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: justify;
	line-height: 20pt;
	font-weight: lighter;
}

@media screen and (max-width: 1024px)
{
	#contenu4{
		flex-direction: column;
	}

	.description4
	{
		width: auto;
		margin: auto;
		text-align: center;
	}
}

/************************************************/
/*FIN DESCRIPTION CEMAC*/
/************************************************/


/************************************************/
/*MON DOMICILE*/
/************************************************/

#secDom {
	display: flex;
	flex: wrap;
	width: 100%;
}

.monDomicile{
	width: 18%;
	background-color: rgba(0, 0, 0, 0.8);
	height: 9vw;
}

.artDom {
	width: 100%;
}

.monDomicile h1{
	color: white;
	padding-left: 4vw;
	font-size: 1.4vw;
	margin: 0;
	padding: 0;
	padding-left: 0.2vw;
}

.monDomicile ul {
    list-style-type: none;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.monDomicile li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.monDomicile li a:hover {
    background-color: #555;
    color: white;
}


#domi
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2vw;
	
}

#divers{
	margin: 10px
}

.piece, .capteur{
	margin-right: 1vw;
	margin-left: 1vw;
	text-align: center;
	width: 23vw;

}


#domi h2
{
	color: #76D7C4;
	text-shadow:0 0 9px black;
 	
}

.capteurs,.pieces
{
	display: flex;
	position: absolute;
	width:75%;
	right:3.5%;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 15px;
	background-color: rgba(208, 211, 212, 0.8);
	padding-right:30px;
	padding-left: 30px; 
	border-radius: 1vw;
	margin-bottom: 2vw;
}

.capteur h3
{
	text-align: center;
	vertical-align: middle;
}

.description_capteur
{
	font-size: 12px;
	
}

.title{
	display: flex;
	margin-left: 60px;
}

.temperature
{
	height: 40px;
	width: 40px;
	margin-left:114px;
}

.detecteurfumee{
	height: 54px;
	width: 54px;
	margin-left:90px;
}

.capteurpresence{
	height: 54px;
	width: 54px;
	margin-left:90px;
}

.capteurco2{
	height: 54px;
	width: 54px;
	margin-left:114px;
}

.luminosite
{
	height: 40px;
	width: 40px;
	margin-left:114px;
}

.humidite
{
	height: 40px;
	width: 40px;
	margin-left:90px;

}

.range{
	width: 100px;
	margin-left: 84px;
}

.Etat{
  	border-radius:50%;
  	margin-top: 20px;
  	margin-right: 5px;
  	width: 20px;
  	height:20px;
}

#table{
	border:4px solid grey;
	border-radius: 10px;
	border-collapse: collapse;
	width: 70%;
	background-color: rgba(208, 211, 212, 0.8);
}

td,th{
	padding: 5px;
	border:1px solid grey;
	border-left: 3px solid grey;
}

th{
	border:3px solid grey;
	color:#76D7C4;
	font-size: 20px;
	color: #76D7C4;
	text-shadow:0 0 9px black;
}

.titreCapteur{
	font-weight: bold; 
}

/************************************************/
/*FIN MON DOMICILE*/
/************************************************/

/************************************************/
/*Contact*/
/************************************************/
#box_contact
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
}

#formulaire_contact
{
	padding: 50px 100px;
	text-align: center;
	border-radius: 10px;
	background-color:rgba(208, 211, 212, 0.7);
}

#formulaire_contact h1
{
	color: #2874A6;
}

#contact {
	width: 20vw;
}


input[type=submit] {
    width: 29vw;
    background-color: #2874A6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

textarea{
	width: 100%;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px;
}


input[type=email]{
	width: 20vw;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px;
}
/************************************************/
/*FIN CONTACT*/
/************************************************/

/************************************************/
/*Profil*/
/************************************************/
#profil{
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
	margin-top: 5%;
}

.description_profil{
	width: 75%;
	text-align: center;
}

.description_profil h1
{
	color: #2874A6;
}

.description_profil p{
	font-size: 0.6em;
	color: black;
	border: none;
	background-color:rgba(208, 211, 212, 0.7);
	border-radius: 10px;
	padding: 2.5%;
}

.description_profil_modifier
{
	width: 75%;
	text-align: center;
}

.description_profil_modifier h1
{
	color: #2874A6;
}

.description_profil_modifier form
{
	font-size: 0.6em;
	color: black;
	border: none;
	background-color:rgba(208, 211, 212, 0.7);
	border-radius: 10px;
	padding: 2.5%;
}

.equiper{
	margin-right: 20px;
}

#informations{
	background-color:rgba(208, 211, 212, 0.7);
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
}

#informations h2{
	color: #2874A6;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;
}

#box2
{
	display: flex;
	justify-content: space-around;
}

#Ajouter
{
	width: 20vw;
}

#ajouter
{
	width: 10vw;
	height: 30px;
	padding-top: 8px;
	padding-bottom: 25px;
}

select
{
	width: 15vw;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px;
}

/************************************************/
/*FIN Profil*/
/************************************************/

/************************************************/
/*Accueil Administrateur*/
/************************************************/
#utilisateurs
{
	color: white;
	border: none;
	border-radius: 5px;
	background-color: rgba(36, 60, 116, 0.8);
	padding: 10px;

}

textarea{
	height: 120vw;
}

#utilisateurs p
{
	color:  #F4D03F;
}

#utilisateurs tr
{
	height: 6vw;
}

#utilisateurs td
{
	width: 25vw;
}

#ajout_utilisateur
{
	display: flex;
	flex-direction: column;
}

#box_ajout
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

#formulaire_ajout
{
	padding: 50px 100px;
	text-align: center;
	border-radius: 10px;
	background-color:rgba(208, 211, 212, 0.7);
}

#formulaire_ajout h1
{
	color: #2874A6;
}

#formulaire_ajout form
{
	margin-left: 15%;
}

.ajout
{
	width: 20vw;
    background-color: #2874A6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
}

.ajout:hover
{
	background-color: white;
	color: #FF3A40;
}

select
{
	width: 20vw;
}

option{
	color: #757575;
}
/************************************************/
/*Fin Accueil Administrateur*/
/************************************************/




/************************************************/
/*Mention*/
/************************************************/

#mention{
	/*width: 92.5%;*/
	margin-top: 4%;
	padding: 1.25%;
	background-color:rgba(208, 211, 212, 0.7);

}

/************************************************/
/*Fin Mention*/
/************************************************/

/************************************************/
/*AIDE*/
/************************************************/

#aide{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	color: #FA5050;
}

#sommaire{
	display: flex;
	justify-content: space-between;
}

.sommaire_colonne{
	margin-top: 2.5%;
	margin-bottom: 5%;
}

.sommaire_colonne a{
	text-decoration: none;
}

.h2{
	color: tomato;
}

.h4{
	color: midnightblue;
}

.description_aide{
	width: 65%;
	text-align: left;
	font-size: 20px;
	padding: 50px 100px;
	border-radius: 10px;
	background-color:rgba(208, 211, 212, 0.7);
}

.description_aide h1{
	color: midnightblue;
	text-align: center;
}

.description_aide h2{
	color: tomato;
	font-weight: lighter;
}

.description_aide h3{
	color: rgb(85,85,85);
	font-weight: bolder;
}

.description_aide p{
	color: black;
}

/************************************************/
/*FIN AIDE*/
/************************************************/



/************************************************/
/*Footer*/
/************************************************/
footer{
	display: flex;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: space-around;
	margin-top: 26%;
	padding-bottom: 2.5%;
	color: white;
}

footer p, ul{
	font-size: 0.9em;
}

footer h1{
	font-size: 1.2em;
	color: white;
}

#copyright{
	width: 30%;
}

#tweet{
	width: 30%;
}

#tweet img{
	height: 40px;
	width: 40px;
	padding-right: 20px;
}

#propos{
	width: 25%;
	margin-bottom: 0;
}

#propos a{
	text-decoration: none;
	color: white;
}

/************************************************/
/*FIN FOOTER*/
/************************************************/